<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
.div{
	margin-left : 100px;
	}

body{
background-color: #888;
}
.login_div{
margin: auto;

  width: 70%;
  height :  70%;
  background-color : white;

  padding: 10px;
  text-align : center;
  
  position: absolute;
  top: 50%;
  left : 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

td{
    font-weight: 600;
    font-size: 20px;
   	
}

.lft{
	width: 800px;
}

#boxes {
        content: "";
        display: table;
        clear: both;
      }
      div2 {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }
      #left {
      
		text-align : center;
		float : left;
		width : 510px;
		margin-left : 15%;
		border-radius : 15px;
		border-radius : 15px;
		border-left : 3px solid gray;
      }


	  .mail{
	  width : 200px;
	  margin-top : 30px;
	  padding : 10px;
	  border-radius: 4px;
	  border : 1px solid gray;
	  height : 45px;
	  margin-left : 180px;
	  }
	  .pass{
	  padding : 10px;
	   width : 300px;
	  height : 45px;
	  border : 1px solid gray;
	  border-radius: 4px;
	  }
	  .but
	  {
	  padding : 10px;
	   width : 300px;
	  height : 45px;
	  background-color : #0046bb;
	  color: #FFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 4px;
	  border : none;
	  margin-top: 10px;
	  }
	  .hr_line{
	  margin-top : 30px;
	  }
	  .signinbox {
	  margin-top : 30px;
    display: flex;
	margin-left : 80px;
}

	
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light "  style="background-color: #0046bb ;">
    <a class="navbar-brand" href="/home2" style="color: white;"><i class="fas fa-balance-scale" ></i>Stonks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home" style="color: white;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" style="color: white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/myorders">My Orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/history">Order History</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px; color: white;" type="submit">Search</button>
      </form>
        
      <form class="form-inline my-2 my-lg-0" method="POST" action="logout">
        
        <button class="btn btn-outline-success my-2 my-sm-0" style="color: white;" type="submit">Logout</button>
      </form>
      
    </div>
  </nav>
<div class="div">
<main class="login" id="boxes">

<div class="login_div" id="left">

        <h1><%= st %></h1>
        <h2><%= pr %></h2>
        <form action="/home/stocks/<%= st %>/buy" method="POST" >
            <table>
              <tr><td class="lft">Quantity</td><td><input type="number" class="mail" placeholder="Enter Quantity...." id="quantity" name="quantity" required></td></tr>
              <tr>
                <td class="lft">Order Type</td>
                <td class="lft"><select id="select_option2" class="select_option mail" name="type" onchange="if (this.value=='limit'){this.form['limi'].style.visibility='visible'}else {this.form['other'].style.visibility='hidden'};">
                    <option value="market">MARKET</option>
                    <option value="limit">LIMIT</option>
                    <option value="sl lmt">SL LMT</option>
                    <option value="sl mkt">SL MKT</option>
                  </select></td>
		</tr>
		<tr>
                  <td class="lft"><label for="check">Order Complexity</label></td>
                  <td class="lft"><select id="select_option1" class="select_option mail" name="complexity" onchange="if (this.value=='CO'){this.form['sl'].style.visibility='visible'}else {this.form['other'].style.visibility='hidden'};">
                      <option value="simple">SIMPLE</option>
                      <option value="CO">CO</option>
                    </select></td>
                  </tr>
                  <tr  name="limi"  class="lft"><td>Buy Price</td><td><input class="mail" type="number" placeholder="Enter Quantity...." id="limit" name="limit" required></td></tr>
                  <tr><td  name="sl" class="lft" >Stoploss</td><td><input class="mail" type="number" placeholder="Enter Quantity...." id="stoploss" name="stoploss" ></td></tr>
                  <tr><td  name="prp" class="lft" >Profit point</td><td><input class="mail" type="number" placeholder="Enter Quantity...." id="stoploss" name="pp" ></td></tr>
                </tr>
                <tr>

                  <tr>


                  </select></td></tr>
                  
                  
                  
                  
                  

            </table>
	<button type="submit" class="but" name="submit" value="<%= pr %>">BUY</button>
          </form>

</div>


</main>
</div>
</body>
</html>