<html>
    <head>

        <title>Rules</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
        
          .table { 
                      margin: 25px auto; 
                      font-size: large; 
                      border: 1px solid  black;
                      width: 800px; 
                      border-top: 1px solid black;
                      
                  } 
            
           
            
                  th { 
                      
                      border: 1px solid  black; 
                  } 
            
                   
                  td { 
                      font-weight: bold; 
                      border: 1px solid  black; 
                      padding: 10px; 
                      text-align: center; 
                  } 
            
                  td { 
                      font-weight: lighter; 
                  } 
          
                </style>
    </head>
    <body style="background-color: #c7cfb7;">
        
      <nav class="navbar navbar-expand-lg navbar-light "  style="background-color: #5b8a72 ;">
        <a class="navbar-brand" href="/home2"><i class="fas fa-balance-scale"></i>Stonks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home2">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stocks2">Stocks</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rule
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/setrule">Set Rule</a>
                <a class="dropdown-item" href="/viewrules">View Rule</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/profile">Profile</a>
              </div>
            </li>
            
          </ul>
          
            
          <form class="form-inline my-2 my-lg-0" method="POST" action="logout">
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
          
        </div>
      </nav>

        <table class="table">
            <tr style="background-color: #9dad7f;">
              <th>id</th>
              <th>type</th>
              <th>rule</th>
              <th>broker</th>
            </tr>
            <% obj.forEach(i => {%>
            <tr>
              <form action="home/stocks/<%= i.Symbol %>" method="post">
              <td><%= i.id %></td>
              <td><%= i.type %></td>
              <td><%= i.code%></td>
              <td><%= i.broker%></td> 
              </form>
            </tr>
            <% }) %>
          </table>
    </body>
</html>